.link-kick {
  svg {
    background: rgb(83, 252, 24);
  }
  background: #24272c;
}

.link-livespace {
  background: #ff0070;
  svg {
    fill: white;
  }
}

.link-money-bill {
  svg {
    fill: white;
  }
}

.link-store {
  svg {
    fill: white;
  }
}

.dark\:bg-neutral-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.dark\:text-neutral-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.dark\:text-neutral-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.dark\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
